body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
  overflow: scroll;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  padding-right:0px;
}
.ali{
  margin: 50px;
  text-align: center;
}
.offcanvas-body{
  font-family: Copperplate ;
  font-size:25px;
}
.offcanvas-title{
 
font-size:35px;
font-family: Copperplate Gothic Light;
}


#demo{
  font-size: 30px;
  text-decoration: none;
  font-family: Copperplate Gothic Light;
  color:white;
}
.navbar-toggler{
  size: 1px;
}
.hoo{
  font-family:Copperplate Gothic Light;
  /* margin-top:1ch; */
}
.form-container{
  background: linear-gradient(150deg,#1B394D 33%,#2D9DA7 34%,#2D9DA7 66%,#EC5F20 67%);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 30px 20px 50px;
}
.form-container .title{
  color: #fff;
  font-size: 23px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 60px;
}
.form-container .form-horizontal{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.form-horizontal .form-icon{
  color: #fff;
  background-color: #1B394D;
  font-size: 75px;
  line-height: 92px;
  height: 90px;
  width: 90px;
  margin: -65px auto 10px;
  border-radius: 50%;
}
.form-horizontal .form-group{
  margin: 0 0 10px;
  position: relative;
}
.form-horizontal .form-group:nth-child(3){ margin-bottom: 30px; }
.form-horizontal .form-group .input-icon{
  color: #e7e7e7;
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 10px;
}
.form-horizontal .form-control{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  padding: 10px 10px 10px 40px;
  margin: 0 0 5px;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  border-radius: 0px;
  box-shadow: none;
}
.form-horizontal .form-control:focus{
  box-shadow: none;
  border-bottom-color: #EC5F20;
}
.form-horizontal .form-control::placeholder{
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.form-horizontal .forgot{
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  display: block;
}
.form-horizontal .forgot a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.form-horizontal .forgot a:hover{
  color: #777;
  text-decoration:  underline;
}
.form-horizontal .signin{
  color: #fff;
  background-color: #EC5F20;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.4s ease 0s;
}
.form-horizontal .signin:hover,
.form-horizontal .signin:focus{
  font-weight: 600;
  letter-spacing: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.form-bg{

  padding-left:22ch; 
   width:700px; 
}
.gradient-custom {
  /* fallback for old browsers */
  /* background:#48D1CC; */
  padding-left: 2ch;
  
  border-radius: 15px;
  overflow: scroll;
  
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
 
 
  }
  .card-registration{
    border-radius: 15px;
    margin-top: 2ch;
    height:570px;
   
  }
  .stu{
    caret-color: transparent;
  }
  .reg{
    
    background-color: orange;
  }
  .log{
    
    background-color:#EC5F20;
  }
  .ho{
    margin-top: 200px;
  }
  .resgi{
    text-decoration:none;
  }
  .sp {
   padding-left:30ch; 
   width:700px;
   
    position: fixed;
    z-index: 1;
    top: 15ch;
    overflow-x: hidden;
    
    
  }
  .spi {
    height: 100%;
    width: 54%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: white;
    right:0;
   }
  .split{
    height: 100%;
    width: 46%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color:#48D1CC;
  }
  .k{
   bottom:2px;
 
  }
  .spli {
    padding-left:7ch; 
     position: fixed;
     z-index: 1;
     top: 0ch;
     overflow-x: hidden;
   }
   .cla{
    background-color: white;
   }
   .spl {
    margin-top: 1ch;
     padding-left:25ch;
      position: fixed;
     z-index: 1;
     top: 3ch;
     overflow-x: hidden;
     color:red;
     
   }
  
  .left {
    left:0px;
   
    background-size: cover;
    box-shadow: 0 0 20px 6px #090b6f85;
    color:black;
  }
  
  .right {
    right: 20ch;
   
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  .css-typing p {
    border-right: .15em solid orange;
    font-family: "Copperplate Gothic Light";
    font-size: 15.5px;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 41em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(4) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(5) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(6) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 12.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(7) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 15s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(8) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 19s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(9) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 21s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(10) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 23s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(11) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 26s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(12) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 26s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  /* .css-typing p:nth-child(13) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 29s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  } */
  /* .css-typing p:nth-child(14) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 32s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  } */
  
  @keyframes type {
    0% {
      width: 0;
    }
    
    99.9% {
      border: none;
    }

    100%{
      border:none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border:none;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
       border:none;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border:none;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
      border:none;
    }
    100% {
      opacity: 1;
      border:none;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
      border:none;
    }
    100% {
      opacity: 1;
      border:none;
    }
  }
  
  @keyframes blink {
    0% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    0% {
      border-color: tranparent;
    }
  }
   .bg{
    
     height: 500px;
     width:100%;
  }

  .c1{
    background: linear-gradient(45deg, #4099ff, #73b4ff);
    margin: 50px;  

    width:250px;
  }
  .c2{
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    margin: 50px;  
    width:250px;
  }
.dis{
  margin-left: 300px;
  display: flex;
} 
 .tab{
  
  margin-top:3ch;
  margin-left: 4ch;
} 
 .App{
  margin-top: 10ch;
}
.varshi {
color:white;
  margin-top:4ch;
  margin-left: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
 
} 

.table {
  width: 90%;
  border: 1px solid #eeeeee;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 20px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #eeeeee;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
  color:white;
}
 .hp{
  font-size: 11px;
}
.ho1{
  margin-top: 3.5ch;
}
.ho2{
margin-top: 4ch;
color:red;
}
.prof{
  margin:5ch;
  margin-bottom: 5ch;
} 